.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
    border-radius: 12px;
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: unset;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns-wrapper .button-container a {
    color: red;
    border: none;
    padding: 0;
    margin: 20px 0;
}